In [5]:
!pip install pandas
import pandas as pd
## series is like an array in pandas

data = [1, 2 , 3, 4, 5]
series = pd.Series(data)
print(series)

index = ['a', 'b','c' , 'd', 'e']
pd.Series(data ,index = index)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
0    1
1    2
2    3
3    4
4    5
dtype: int64

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
## data frame === it can have multiple rows and columns
data = {
    'name':['john', 'rinka', 'jack'],
    'Age' : [25 , 20 , 45],
    'City' :['bihar', 'banglore', 'delhi']
}
df = pd.DataFrame(data)
print(df)
print(type(df
           ))

    name  Age      City
0   john   25     bihar
1  rinka   20  banglore
2   jack   45     delhi
<class 'pandas.core.frame.DataFrame'>

In [3]:
import pandas as pd

data = {'a':1 , 'b':2 , 'c':3}
series_dict = pd.Series(data)
print(series_dict)
import numpy as np
np.array(series_dict)

a    1
b    2
c    3
dtype: int64

array([1, 2, 3])

In [4]:
##create a dataframe from a list of dictionaries
data = [{'name':"rinka" , 'Age':22 , "city":"banglore"},
        {'name':"priya" , 'Age':22 , "city":"banglore"},
        {'name':"shivani" , 'Age':22 , "city":"banglore"}

]
df = pd.DataFrame(data)
print(df)
print(type(df))

      name  Age      city
0    rinka   22  banglore
1    priya   22  banglore
2  shivani   22  banglore
<class 'pandas.core.frame.DataFrame'>

In [5]:
##read a data from a csv file

pd.read_csv('sales_data.csv')

##top five indexes
print(df.head(5))
df

## first row loc
## iloc for index location
df.iloc([0])



## to remove a column  normal drop action is not permanent we have to do implace = true
df.drop('salary', axis = 1, inplace = True)

df['Age']+1 ## increase all values in age column by 1

FileNotFoundError: [Errno 2] No such file or directory: 'sales_data.csv'

In [ ]:
df.isnull.sum()     ## for every column going to count how many values were missing

df_filled = df.fillna(0)        ## fill all the missing values with 0


##replace all the missing values with mean and created in a new column
df['sales_fillNa'] =df['sakes'].fillna(df['sales'].mean())


df.dtypes   ## tells datatype of all the columns in the table

## changing one particular column name
df = df.rename(columns={'date':'sales date'})
df.head()

In [ ]:
##change data types
df['value_new'] = df['value'].fillna(df['value'].mean()).astype(int)
df.head()